body{
    margin: 2% auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calculator-body{
    background: rgb(80 84 86);
    height: 550px;
    width: 350px;
}